.route--item {
  text-decoration: none;
  color: #ffffff !important;
}
.route--item:hover,
.route--active {
  text-decoration: none;
  color: #ffdd09 !important;
}
.topmost {
  z-index: 500 !important;
}
@media (max-width: 479px){
  .navbar-default .navbar-nav > li > a{
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fff;
  } 
}