.route--active {
  text-decoration: none;
}

.bottom-banner-discount{
    text-align: center;
    width: 60%;
}
.banner-discount-container .banner-discount{
	background-color: #007fff;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto;
    min-height: 60px;
    text-align: center;
    width: 65%;
}
.banner-discount-container .banner-discount span.banner-discount-info{
	display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 5px;
    width: 95%
}
.banner-discount-container .banner-discount span.banner-discount-info .banner-discount-text{
    width: 97%;
    display: inline-block;
}
.banner-discount-container .banner-discount .left-bg-special-offer{
	display: block;
    line-height: 0;
    position: absolute;
}
.banner-discount-container .banner-discount a.close{
	color: #fff;
    font-size: 25px;
    opacity: 1;
    padding-right: 5px;
}
.banner-discount-container .banner-discount span.banner-discount-info .btn{
    display: inline-block;
    margin-top: 0;
}
.ml2 {
	margin-left: 20px;
}
.mb6{
  margin-bottom: 60px !important;
}
@media (max-width: 1199px){
	.banner-discount-container .banner-discount{
		width: 92%;
	}
}
@media (max-width: 767px){
	.page-footer.mb6{
		margin-bottom: 0 !important;
	}
    .banner-discount-container .banner-discount{
		line-height: normal;
		font-size: 15px;
	}
    .banner-discount-container .banner-discount .banner-discount-text{
		display: inline-block;
        padding: 5px 0 5px;
        width: 90%;
	}
}
@media (max-width: 479px){
    .banner-discount-container .banner-discount span.banner-discount-info{
        width: 100%;
        padding-left: 0;
    }
    .banner-discount-container .banner-discount span.banner-discount-info .banner-discount-text{
        width: 90%;
        display: inline-block;
    }
    .banner-discount-container .banner-discount span.banner-discount-info .btn{
        display: block;
        margin-top: 5px;
    }
}